.counter {
    display: flex;
    align-items: center;
    gap:10px;
}

button {
    background: red;
    padding:20px;

    + span {
        padding: 20px;
    }
}

.value {
    font-size: 100px;
    margin: 0;
}